@import url('https://fonts.googleapis.com/css?family=Raleway:300,600|Varela+Round');

html body{
  font-family: Varela Round;
  box-sizing: border-box;
}

.text-blue{
  color:#002b5c;
}

/*======================HEADER*/
/*navbar*/
header nav{
  background-color: #102850;
  min-height: 64px;
  height: 8vh;
}
nav a.pokeycus-title{
  font-family: Varela Round;
  color: #fff;
  font-stretch:
}
nav .nav-wrapper i{
  height:60px;
  line-height: 60px;
}
nav a img{
  height: 1.7rem;
}
/*======================MAIN*/
section#main{
  height:90vh;
}

section#main #top-section{
  height: 25vh;
}
/*=== poke info */

/* card info */
#card-wrapper{
  margin:0;
  padding: 0;
  height: 90vh;
  background: #ddd;
}
#card{
  color:#002b5c;
  border:none;
}
#card .col{
  padding: 0;
}
#card .card-img{
  background: #00ddc7;
}
#card img{
  margin-top: 10px;
  width: 60%;
  background-color: #102850;
  border-radius: 50%;
  border:8px solid #fff;
}
#card-name{
  margin-top: 10px;
  margin-bottom: 0px;
}
p#card-twitter{
  margin:5px;
}
#card ul.collection{
  margin:0;
  border:none;
}
#card li.collection-item{
  background-color:#0C1E40;
  color:#ddd;
}
#card li.collection-item p{
  margin:0;
}
#types li .btn{
  width: 100%;
  margin: 10px 0;
}
/* info container */
#info-container .row{
  margin:0;
}
#info-container #top-img{
  background: url('../images/background.jpg') center center no-repeat;
  background-size: cover;
  height: 40vh;
}
#info-container.col{
  padding:0;
}

/* details */
#details{
  height:45vh;
  background: #fff;
}
#details #details-body{
  margin:20px 40px;
  overflow:auto;
  position: relative;
  top:-8vh;
  border:3px solid #00DDC7;
  border-radius: 10px;
}
#details #stats-title{
  padding: 15px 50px 10px;
  margin:0;
  color:#FFF;
  background: #00DDC7;
}
#details #stats{
  background: #fff;
}
#details #stats .stats{
  background: #bbb;
  margin:0 10px;
}

#stats .stats p{
  background-color: #102850;
  width:0%;
  color:rgba(0,0,0,0);
  padding-left: 10px;
  margin: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
#stats label{
  padding-left: 10px;
}

/*=== list*/
#list{
  background-color: #eee;
  height: 90vh;
  margin:0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
#list .collection{
  margin:0;
}
#list .collection-item span{
  vertical-align:middle;
}
/* -- -- -- mobile -- -- -- */
@media screen and (min-width: 601px) {

  #menu{
    display:none;
  }
}
